body{
    background: #ccc;
    }
    .switch {
        width: 50px;
        height: 100px;
        position: relative;
      top: 100px;
      left: 100px;
    }
    .switch label { /*the flicky part of the switch*/
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        background: #cbc7bc;
        border-radius: 2px;
        box-shadow:
            inset 0 1px 0 white,
            0 0 0 1px #999,
            0 0 5px 1px rgba(0,0,0,0.2),
            0 2px 0 rgba(255,255,255,0.6),
            inset 0 10px 1px #e5e5e5,
            inset 0 11px 0 rgba(255,255,255,0.5),
            inset 0 -45px 3px #ddd;
    }
    .switch label:after { /*the panel surrounding the flicky part of the switch*/
        content: "";
        position: absolute;
        z-index: -1;
        top: -20px;
        left: -25px;
        bottom: -20px;
        right: -25px;
        background-color: #fff; /* Fallback */
        border-radius: 4px;
       box-shadow: inset -4px -4px 8px rgba(0,0,0,.25), inset 4px 4px 8px rgba(255,255,255,.5), inset 2px 2px 2px rgba(177,177,177,.25), -4px -4px 16px rgba(255,255,255,.25), 1px 1px 1px rgba(0,0,0,.1), 4px 4px 2px rgba(0,0,0,0.05), 6px 6px 3px rgba(0,0,0,0.05);
    
    }
    .switch label:before { /*the two screws on both sides of the panel, of the flicky part of the switch*/
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        top: -13px;
        left: 20px;
        background: red;
        border-radius: 100%;
        box-shadow:
            0 1px 0 black, /* Subtle reflection on the bottom of the hole */
            0 120px 0 red, /* Faking a second screw hole... */
            0 121px 0 black; /* And its reflection */
      
    }
    .switch input:checked ~ label { /* Button */
        background: #eee;
      /*line surrounding*/
        box-shadow:
            inset 0 1px 0 white,
            0 0 0 1px #999,
            0 0 5px 1px rgba(0,0,0,0.2),
          /*shadow bottom extension*/
            inset 0 -6px 0 #aaa,
            0 2px 0 rgba(255,255,255,0.1), 
          /*top colour of switch*/
      inset 0 45px 3px #fff,
            0 8px 6px rgba(0,0,0,0.18);
    }
    
    .switch input{ /*hides the checkbox and expands it over the flicky part of the switch*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    }

    