.text{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(0, 0, 0);

    border-style: groove;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.307);

display: flex;
flex-wrap: wrap;
align-content: flex-end;
align-items: end;
justify-content:space-around;
}



