.text{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: .04em .04em .04em rgba(0, 0, 0, 0.503);

    border-style: groove;
    border-radius: 10px;
    background-color: black;

display: flex;
flex-wrap: wrap;
align-content: flex-end;
align-items: end;
justify-content:space-around;
}



