.switches {
    width: 50px;
    height: 100px;
    position: relative;
    top: 100px;
    left: 100px;
    z-index: 5;
}
.switches label { /*the flicky part of the switch*/
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 2px;

        background: #eee;
    /*line surrounding*/
    box-shadow:
        inset 0 1px 0 white,
        0 0 0 1px #999,
        0 0 5px 1px rgba(0,0,0,0.2),
        /*shadow bottom extension*/
        inset 0 -6px 0 #aaa,
        0 2px 0 rgba(255,255,255,0.1), 
        /*top colour of switch*/
        inset 0 45px 3px #fff,
        0 8px 6px rgba(0,0,0,0.18);
}

 .shadowes { /*the shadow of the switch*/
    background-color: rgba(0, 0, 0, 0.268);
    height: 47px;
    position: absolute;
    width: 24px;
    
    bottom: -2px;
    filter: blur(5px);
    left: 38px;
    opacity: 1;
    transform: rotate(-18deg);
}


.switches label:after { /*the panel surrounding the flicky part of the switch*/
    content: "";
    position: absolute;
    z-index: -5;
    top: -20px;
    left: -25px;
    bottom: -20px;
    right: -25px;
    background-color: #f9f9f9; /* Fallback */
    border-radius: 4px;
    box-shadow: 
        inset -4px -4px 8px rgb(173, 173, 173), 
        inset 4px 4px 8px rgba(163, 163, 163, 0.5), 
        inset 2px 2px 2px rgba(209, 209, 209, 0.793), 
        -4px -4px 16px rgba(135, 135, 135, 0.26), 
        1px 1px 1px rgba(110, 110, 110, 0.44), 
        4px 4px 2px rgb(163, 163, 163), 
        6px 6px 3px rgba(0,0,0,0.05);
}
.switches label:before { /*the two screws on both sides of the panel, of the flicky part of the switch*/
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: -13px;
    left: 20px;
    background: rgb(255, 0, 0);
    border-radius: 100%;
    box-shadow:
        0 1px 0 black, /* Subtle reflection on the bottom of the hole */
        0 120px 0 rgb(174, 174, 174), /* Faking a second screw hole... */
        0 121px 0 black; /* And its reflection */
}
.switches input:checked ~ label { /* Button */
    background: #dfdfdfe8; /*main front*/
    /*line surrounding*/
    box-shadow:
    inset 0 1px 0 rgb(239, 239, 239), /*side edge*/
    0 0 0 1px #868686, /*surrounding edge*/
    0 0 5px 1px rgba(0,0,0,0.2), /*shadow edge*/
    inset 0 10px 1px #f4f4f4, /*Main side edge*/
    inset 0 11px 0 rgba(224, 224, 224, 0.5), /*third side edge*/
    inset 0 -45px 3px #ffffff, /*second main face*/
    inset 0 -45px 2px rgba(42, 42, 42, 0.623); /*middle side edge*/
}

.switches input:checked ~ label:before { /* Button */
    background: rgb(255, 255, 255);
    box-shadow:
        0 1px 0 black, /* Subtle reflection on the bottom of the hole */
        0 120px 0 rgb(0, 255, 89), /* Faking a second screw hole... */
        0 121px 0 black; /* And its reflection */
}
.switches input{ /*hides the checkbox and expands it over the flicky part of the switch*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.switches input:checked ~ .shadowes { /* Button */
    background-color: rgba(0, 0, 0, 0.333);
    height: 40px;
    position: absolute;
    width: 20px;
    
    bottom: 47px;
    filter: blur(5px);
    left: 40px;
    opacity: 1;
    transform: rotate(20deg);
}


